<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rob Whitaker | $title$</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

        <script src="https://use.fontawesome.com/09dc25e38d.js"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <span class="kw">module</span>&nbsp;<h1 class="name-logo $if(isPost)$ small-header$endif$">RobWhitaker$if(isHome)$$else$$if(isPost)$.Blog$else$.$title$$endif$$endif$</h1>
                <nav>
                    (&nbsp;<a href="/">home</a><span class="no-space">
                    </span>,&nbsp;<a href="/about">about</a><span class="no-space">
                    </span>,&nbsp;<a href="mailto:robjameswhitaker@gmail.com" target="_blank">contact</a>
                    )&nbsp;<span class="kw">where</span>
                </nav>
            </header>

            <section>
                $body$
            </section>
            <footer>
                <div class="social-buttons">
                    <a href="https://github.com/robwhitaker"
                    title="GitHub"
                    target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/RobertJWhitaker"
                    title="Twitter"
                    target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://soundcloud.com/thatbloodysquirrel"
                    title="SoundCloud"
                    target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
                    <a class="ello-icon"
                    href="https://ello.co/rhitakorrr"
                    title="Ello"
                    target="_blank">
                        <i class="fa fa-envelope"></i> <!-- for keeping the size consistent with other links -->
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 302.334 302.5" enable-background="new 0 0 302.334 302.5" xml:space="preserve">
                            <g id="Capa_3">
                                <g>
                                    <circle class="ello-circle" cx="151.25" cy="151.25" r="151.25"/>
                                    <path class="ello-smile" fill="none" stroke="#FFFFFF" stroke-width="17" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" d="
                                        M72,171c20.766,83.064,136,81.5,158.5-1"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="https://linkedin.com/in/robert-whitaker-21869973"
                    title="LinkedIn"
                    target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="mailto:robjameswhitaker@gmail.com" title="Email" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="/feed.xml" title="RSS" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
                </div>
                <p><b>Categories: </b>$categories$</p>
                <p>
                    Site proudly generated by <a href="http://jaspervdj.be/hakyll" target="_blank">Hakyll</a>. Check out <a href="https://github.com/robwhitaker/robwhitaker.github.io" target="_blank">the source</a>!
                    <br>
                    © $year$ <strong>Robert J. Whitaker</strong> All rights reserved
                </p>
            </footer>
        </div>
    </body>
</html>
